<!DOCTYPE html>
<html>
<head>
    <title><%= title %> Page1</title>
</head>
<body>
    <h1>What's your thougths about <%= title %> ?</h1>
    <h2>Wanna talk to my AI <a href="https://boring-resume.streamlit.app/">agent?</a></h2>
    <a href="/">Back to Resume</a>
</body>
</html>
